{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>NTRCA</title>
    <style>
        /* .site-footer {
        background-color: #349B39;
        padding: 25px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    } */
    </style>
    <script type="text/javascript">
        setTimeout(function() {
            $('#message').fadeOut('fast');
        }, 2000);
    </script>
</head>
<body style="background: rgba(0, 0, 0, 0.178); font-family: 'Open Sans', sans-serif; font-size: 18px;" onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
    {% include 'navbar.html' %}
    
    <div class="container pt-3">
        <div class="row">
            <div class="col-8 offset-2">
                {% if messages %}
                <ul class="messages text-center" style="list-style:none" id="message">
                    {% for message in messages %}
                    <li class="alert alert-warning" style="color: #000;">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>


    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static 'js/jquery.validation.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        // window.history.forward();
        // function noBack()
        // {
        //     window.history.forward();
        // }
    </script>
    {% block extrajs %}
    {% endblock extrajs %}
</body>
</html>