{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block content %}
<style>
    .site-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .card-body{
        text-align: center;
    }
    .card-body img{
        height: 100px;
    }
    .card-body h5{
        color: #444;
    }
</style>
<div class="container bg">
    <div class="row">
        {% if message %}
        <div class="col-lg-12 message">
            <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
        </div>
        {% endif %}

        <!-- left -->
        {% for obj in exam_name %}
        <div class="col-md-4">
            <a href="{% url 'ntrca_district' obj.pk %}">
                <div class="card my-3">
                    <div class="card-body">
                        <img src="{% static 'img/teacher.png' %}">
                        <h5>{{ obj.name }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
     $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>
{% endblock extrajs %}