{% extends 'base.html' %}
{% block content %}

<div class="container-fluid bg-white">
    <style>
        table{
                font-size: 12px;
            }
        th{
            font-size: 11px !important;
            padding: 3px 0 3px 2px !important;
            font-weight: 400;
        }
        td{
            font-size: 11px !important;
            padding: 7px 0 7px 6px !important;
        }
        @media print {
            .heder {page-break-after: always;}
            @page {size: landscape}
            table{
                font-size: 12px;
            }
            footer{
                display: none;
            }
            table{
                page-break-after: always;
            }
        }
        .col-lg-12 h5{
            font-size: 15px;
            text-align: center;
        }
        .col-lg-12 h6{
            font-size: 12px;
            text-align: center;
        }
        .col-lg-12 p{
            font-size: 12px;
        }
        hr{
            margin-bottom: 0px;
        }
    </style>
    <div class="row">
        <div class="col-md-8 m-auto text-center">
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% for thana in thana_wise_data %}
            {% if thana %}
            {% with thana|first as data %}
                <h5>Non Government Teachers' Registration and Certification Authority (NTRCA)</h5>
                <h6>Distribution Register ( 16 th NTRCA exam )</h6>
                <p style="font-weight: 600; text-transform: uppercase; font-size: 14px;">{{district}}</p>
                <p>{{ data.subject_name }}({{ data.subject_code }})</p>
            {% endwith %}
            <table width="100%" class="table table-bordered table-hover mt-2">
                <thead>
                    <tr>
                        <th width="5%" scope="col">SL</th>
                        <th width="5%" scope="col">Roll</th>
                        <th width="20%" scope="col">Name, Father's Name, Mother's Name</th>
                        <th width="15%" scope="col">Permanent Address</th>
                        <th width="2%" scope="col">Photo</th>
                        <th width="18%" scope="col">Educational Qualification<br>
                            Passing Year/Exam Name/Result</th>
                        <th width="10%" scope="col">Date of Birth/ Marks Obtain.</th>
                        <th>Serial No/ Registration
                            No</th>
                        <th width="10%" scope="col">Signature.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in thana %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ data.roll }}</td>
                        <td>
                            Name: {{ data.name }}<br>
                            Father'S Name: {{ data.father_name }}<br>
                            Mother'S Name: {{ data.mother_name }}<br>
                        </td>
                        <td>
                            Vill/Holding: {{ data.permanent_vill }}<br>
                            P/O: {{ data.permanent_post_office }}<br>
                            P/S: {{ data.permanent_police_station }}<br>
                            Dist: {{ data.permanent_district }}<br>
                        </td>
                        <td><img style="width: 50px;" src="/static/media/{{ data.invoice }}.jpg" alt=""></td>
                        <td>
                            SSC Result: {{ data.ssc_result }}<br>
                            HSC Result: {{ data.hsc_result }}
                        </td>
                        <td>
                            {{ data.dob| date:"d- F- Y" }}<br>
                            Written: {{ data.written_number }}<br>
                            Viva: {{ data.viva_mark }}<br>
                        </td>
                        <td style="padding: 0;">
                            <hr>
                            162019{{ data.reg }}
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}