{% load static %}
<style>
    .table .tr .td {
        border: 0px;
    }
    .title_large{
        color: #fff;
        font-size: 24px;
    }
    .table {
    background-color: transparent;
}
</style>
<div class="top bg-success py-2"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-white mains">
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <table class="table">
        <tr class="tr">
            <td width="10%" class="td">
                <a class="navbar-brand float-right" href="{% url 'dashboard' %}">
                  <img src="{% static 'img/logo.jpeg' %}">
                </a>
            </td>
            <td width="64%" class="td">
                <span class="title_large text-success">Non-Government Teachers' Registration &amp; Certification Authority (NTRCA)</span><br>
                <span class="black12bold">Secondary and Higher Education Division, Ministry of Education</span><br>
                <span class="black12bold">16th Teachers' Registration Exam 2019</span></td>
          </tr>
      </table>
      {% url 'ntrca_result' as result %}
                {% if not request.path == result %}
                <a class="btn btn-success" href="{% url 'ntrca_result' %}">Swich to result Application</a>
                {% else %}
                <a class="btn btn-success" href="/">Swich to certificate Application</a>
                {% endif %}
    </div>
  </nav>