<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
  
    <main role="main" class="container mt-5">
        <div class="jumbotron">
            <form method="post" class="row g-3" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="my-3">Upload CSV File</h1>
                <p>id, result, invoice, exam_name, roll, reg, name, father_name, mother_name, subject_code, subject_name, total_number, post_code, 
                    post_name, institute_type, dob, gender, religion, written_number, district_name, police_station_name, post_office_name, 
                    permanent_vill, certificate_marks, viva_mark, ssc_result, hsc_result</p>
                <div class="col-auto">
                  <label for="inputPassword2" class="visually-hidden">Upload File</label>
                  <input type="file" name="excel_file" placeholder="Upload CSV File">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
                </div>
              </form>
        </div>
    </main>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>
</html>